.main-art-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.art-gallery-boxes{
   height: 200px;
   width: 200px;
   border-radius: 20px;
   box-shadow:5px 6px 10px  #dfab72;
} 
