.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
    height: 420px;
    background: linear-gradient(to bottom, rgba(109, 150, 155, 0.9), rgba(244, 255, 254, 0.9));
    border-radius: 20px;
    margin: 0 auto;
    animation: fadeUp 0.6s ease-out forwards;
    padding: 10px;
}


input::placeholder,
textarea::placeholder {
    font-family: Verdana, sans-serif;
    font-size: 1.3rem;
    color: #4b4a4a;
}

textarea::placeholder {
    font-size: 1.3rem;
}

.form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 25px;
    gap: 15px;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input,
textarea {
    border: none;
    border-radius: 10px;
    padding: 10px;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    background-color: #f3fbfb;
    color: #0f1b1c;
    font-size: 1.3rem;
}

input {
    height: 35px;
}

textarea {
    height: 150px;
    resize: none;
}

input:focus,
textarea:focus,
.submit-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(153, 255, 216, 0.6);
    transform: scale(1.01);
}

.submit {
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.submit-btn {
    font-size: 1.5rem;
    color: #ffffff;
    background-color: rgb(0, 100, 105);
    border: none;
    height: 60px;
    width: 60%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: 0 10px 20px rgb(51, 252, 255);
}

.submit-btn:hover {
    background-color: rgb(0, 128, 130);
    color: #ffffff;
    transform: translateY(-2px) scale(1.09);
    box-shadow: 0 10px 20px rgb(51, 252, 255);
}


.submit-btn:active {
    transform: scale(0.96);
}

@media screen and (max-width: 768px) {

    input::placeholder,
    textarea::placeholder {
        font-size: 1.3rem;
    }

    .submit-btn {
        font-size: 1.4rem;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}