.repo-container,
.repo-container-second {
    font-family: Verdana, sans-serif;
    background-color: rgb(202, 226, 226);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    margin-bottom: 10px;
}

.repo-card,
.repo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    min-height: 220px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.repo-card:hover,
.repo:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(116, 254, 240, 0.2);
    border-radius: 2px;
    transform: translateY(-2px) scale(1.09);
    box-shadow: 0 10px 20px rgb(131, 169, 170);
}

.repo p {
    font-size: 1rem;
    line-height: 1.4;
    max-height: 4.2em;
}

.repo img,
.repo-card img {
    height: 100px;
    width: 100px;
}

.repo-card h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.repo-description {
    font-family: Verdana, sans-serif;
    font-size: 1.2rem;
}

.repo-card a,
.repo a {
    background-color: #044949;
    border-radius: 3px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease, transform 0.2s ease;
    font-size: 1.2rem;

}

.repo-card a:hover,
.repo-card a:focus {
    color: #44ffff;
    transform: translateY(-2px);
    outline: none;

}